[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/emlin
[access "refs/for/refs/*"]
	read = group user/emlin
	push = group user/emlin
	label-Code-Review = -2..+2 group user/emlin
	label-Verified = -1..+1 group user/emlin
	rebase = group user/emlin
	removeReviewer = group user/emlin
	submit = group user/emlin
[access "refs/heads/*"]
	read = group user/emlin
	create = group user/emlin
	push = +force group user/emlin
	pushMerge = group user/emlin
[access "refs/tags/*"]
	push = +force group user/emlin
	pushTag = group user/emlin
	pushSignedTag = group user/emlin
